@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Segoe UI Emoji";
  src: url("/fonts/SegoeUIEmoji.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "FiraCode Nerd Font";
}
/* 
#app {
  width: 100vw;
  height: 100vh;
} */

.react-flow__minimap {
  @apply bg-base !important;
}

.react-flow__minimap-mask {
  @apply fill-node !important;
}

.react-flow__minimap-node {
  @apply bg-base fill-node stroke-none !important;
}

.react-flow__controls {
  @apply bg-base border-edge;
}

.react-flow__controls-button {
  @apply bg-node border-edge text-font hover:bg-node/25 transition-colors !important;
}

.react-flow__controls-button svg {
  @apply fill-font;
}

.react-flow__attribution {
  @apply bg-transparent text-font;
}

.react-flow__background {
  @apply bg-base;
}

.react-flow__panel {
  @apply text-font;
}

.dark .react-flow__minimap {
  @apply bg-base !important;
}

.dark .react-flow__minimap-mask {
  @apply fill-node !important;
}

.dark .react-flow__minimap-node {
  @apply bg-base fill-node stroke-none !important;
}

.dark .react-flow__controls {
  @apply bg-base border-edge;
}

.dark .react-flow__controls-button {
  @apply bg-node border-edge text-font hover:bg-node/25 transition-colors !important;
}

.dark .react-flow__controls-button svg {
  @apply fill-font;
}

.dark .react-flow__attribution {
  @apply bg-transparent text-font;
}

.dark .react-flow__background {
  @apply bg-base;
}

.dark .react-flow__panel {
  @apply text-font;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 90, 213, 0.5); /* Purple-like glow */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 90, 213, 0.7);
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #232334;
}

.reactflow .reactflow__node {
  width: fit-content; /* Constrain node width */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
